/* Color Scheme 
Dark Purple - #3c1361
Dark Violet - #5237c
Med Purple - #663a82
Med Violet - #7c5295
Light Purple - #b491c8
Light Violet #bca0dc
*/

h1 {
    color: rgb(91, 94, 91);
    font-size: 60px;
}

.peach-body {
    background-color: #F7C4A5;
}

.dark-body {
    background-color: rgb(24,26,24);
    color: white;
}

/* Navigation */

.name {
    overflow: hidden;
    background-color: rgb(24,26,24);
}

.name p {
    float: left;
    display: block;
    color: #7c5295;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.navigation {
    overflow: hidden;
    background-color: rgb(24,26,24);
    font-size: 20px;
    padding-top: 20px;
    float: right;
}

.navigation a {
    padding-right: 15px;
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #b491c8;
}

.content {
    padding: 16px;
}


/* Main content */

.border-color {
    border: 5px solid #3c1361;
    animation: 4s infinite color;
    padding: 10px;
    margin: 10px;
    font-size: 40px;
    border-top: none;
    border-right: none;
}
@keyframes color{
    0% {
        border-color: #3c1361;
    }
    25% {
        border-color: #663a82;
    }
    50% {
        border-color: #7c5295;
    }
    75% {
        border-color: #b491c8;
    }
    100% {
        border-color: #3c1361;
    }
}


.main-content {
    margin-top: 150px;
}

.spacing {
    margin: 200px;
}

.center{
    text-align: center;
}

body {
    position: relative;
    min-height: 100vh;
    background: url(bg.jpg)no-repeat center /cover;
}

.projects-ul {
    padding-top: 15px;
}

.projects-ul li {
    list-style: none;
    padding-bottom: 15px;
}

.projects-ul li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

li:hover a {
    color:#7c5295;
    text-decoration: none;
}

.enlarge-text {
    transition: transform.2s
}

.enlarge-text:hover {
    transform: scale(1.2);
}

.border {
    border: 5px solid #b491c8;
}
