/* Color Scheme 
Dark Purple - #3c1361
Dark Violet - #5237c
Med Purple - #663a82
Med Violet - #7c5295
Light Purple - #b491c8
Light Violet #bca0dc
*/

body {
    background-color: rgb(24,26,24);
}

/* Navigation */

.sidenav {
    height: 40%;
    width: 100px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
}

.sidenav a {
    padding: 50px 8px 8px 32px;
    background-size: contain;
    font-size: 20px;
    color: white;
    display: block;
    transform: rotate(90deg);
}

.sidenav a:hover {
    color: #bCA0DC;
    text-decoration: none;
}

/* Main content */

.border-color {
    border: 3px solid #3c1361;
    animation: 4s infinite color;
}
@keyframes color{
    0% {
        border-color: #3c1361;
    }
    25% {
        border-color: #663a82;
    }
    50% {
        border-color: #7c5295;
    }
    75% {
        border-color: #b491c8;
    }
    100% {
        border-color: #3c1361;
    }
}

.main-content {
    margin-top: 60px;
}